.container{
    /* border: 1px solid lightgray; */
}
#myCanvas{

    border: 1px solid lightgray;
   
}
#canvasholder{
    height: 500px;
    width: 1000px;
    overflow: auto;
}
.canvas{
    overflow: auto;
}   

.processing_img{
    display : none;
}